/* .login {
	display: flex;
	justify-content: center;
} */
.login__logo {
	width: 100px;
	object-fit: contain;
}
.sign__in__button {
	background-color: #f2c967;
	border: 1px solid #a88734 #9c7e31 #846a29;
}
